@import url('https://fonts.googleapis.com/css2?family=Asap&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: #84CEEB;
  font-family: 'Nunito', sans-serif;
  height: 100vh;
}

.mainDiv {
  display: grid;
  place-items: center;
  min-height: 100vh;
  width: 100vw;
}

.container {
  padding: 16px;
  background-color: #5680E9;
  border-radius: 16px;
  width: 40%;
}

.question {
  padding-bottom: 16px;
}

ul {
  list-style: none;
}

ul li {
  padding: 10px;
  font-size: 19px;
}

input {
  cursor: pointer;
}

.playAgainBtn {
  margin-top: 16px !important;
}

.submitBtn, .playAgainBtn {
  font-size: 19px;
  padding: 10px;
  border: none;
  border-radius: 10px;
  display: block;
  margin: auto;
  outline: none;
  cursor: pointer;
  transition: transform 0.4s;
  box-shadow: 4px 4px 10px black;
}

.submitBtn:hover {
  transform: translateY(-4px);
}

.score {
  font-size: 19px;
  text-align: end;
  padding-right: 10px;
}